Android v 5.1 and over ,
IOS V 10.0 and over ,
phyton and C++ INCREASED WITH ,
The purpose of gitignore files is to ensure that certain files not tracked by Git remain untracked.
To stop tracking a file that is currently tracked, use git rm --cached,
version 3.6.8 critical error configuration 
+ + - 1483544 batch file 
+-- dist
¦   +-- bundle.js
¦   +-- css
¦   +-- img
¦   +-- js
¦   +-- view
+-- package-lock.json
+-- package.json
+-- src
¦   +-- css
¦   +-- img
¦   +-- index.js
¦   +-- js
¦   ¦   +-- bar.js
¦   ¦   +-- foo.js
¦   +-- layout
+-- webpack.config.js
+-- yarn.lock
 
xxx directories, xxx files 
